<h1>MixMasters Premier Audio Services</h1>

<% if false  %>
<ul>
    <% @services.each do |service| %>
        <li>$<%= service.price %> <%= link_to service.title, service %> - <%= service.engineer.name %></li>
    <% end %>

</ul>
<% end %>

<dl>
    <% @services.each do |service| %>
        <dt>$<%= service.price %> <%= link_to service.title, service %></dt>
        <dd>-<%= service.description %></dd><br>
    <% end %>

</dl>

