<h1><%= @service.title %> $<%= @service.price %></h1>

<ul>
    <%= link_to @service.engineer.name, @service.engineer %><br><br>
    Description: <br>
    <%= @service.description %><br><br>
    Buyer Requirements: <br>
    <%= @service.requirements %>
<ul><br>

<%= link_to 'Edit Service', edit_service_path %>
<%= button_to 'Delete', @service, method: :delete %>