<h1><%= @user.name %> (@<%= @user.username %>) ✔</h1>
<h3>Experience: <%= @user.experience.capitalize %></h3>
<h4>Location: <%= @user.location %></h4>
<% if @user.rating != nil %>
    <h3> <%= '★'*@user.rating %><%= '☆'*(5 - @user.rating) %></h3>
<% else %>
    <h5>Not Yet Rated</h5>
<% end %>

<h3>Bio </h3>
<p><%= @user.bio %></p>
<%= link_to 'Edit Account', edit_user_path %>
<%= button_to 'Delete Account', @user, method: :delete %>

<h2>Services (<%= @services.count %>)</h3>
<% if @services.present? %>
    <dl>
        <% @services.each do |service| %>
            <dt>$<%= service.price %> <%= link_to service.title, service %></dt>
            <dd>-<%= service.description %></dd><br>
        <% end %>

    </dl>
<% else %>
    <p>Nothing here yet!</p>
<% end %>

<h2>Orders (<%= @user.orders.count %>)</h2>
<% if @user.orders.present? %>
    <dl>
        <% @user.orders.each do |order| %>
            <dt><%= link_to order.service[:title], order %></dt>
            <dd>@<%= order.client[:username] %></dd><br>
        <% end %>
    </dl>
<% else %>
    <p>No current orders<p>
<% end %>