<h1><%= @user.name %> (@<%= @user.username %>) ✔</h1>
<h4>Location: <%= @user.location %></h4>
<% if @user.rating != nil %>
    <h3 type="rating"> <%= '★'*@user.rating %><%= '☆'*(5 - @user.rating) %></h3>
<% else %>
    <h5>Not Yet Rated</h5>
<% end %>

<h3>Bio </h3>
<p><%= @user.bio %></p>
<% if can? :update, @user %> 
    <%= link_to 'Edit Account', edit_user_path %>
    <%= button_to 'Delete Account', user_path, method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
<h2>Services (<%= @services.count %>)</h3>
<% if @services.present? %>
    <dl>
        <% @services.each do |service| %>
            <dt>$<%= service.price %> <%= link_to service.title, service %></dt>
            <dd>-<%= service.description %></dd><br>
        <% end %>

    </dl>
<% else %>
    <%= link_to "Add Service", new_service_path %>
<% end %>
