<h1>Order History</h1><br>

<% if @orders.present? %>
    <dl>
        <% @orders.each do |order| %>
            <dt>$<%= order.service[:price] %> <%= link_to order.service[:title], order %> 
            <% if order.review %>
                <%= "★"*order.review[:rating] %><%= "☆"*(5-order.review[:rating]) %></dt>
            <% else %>
                </dt>
            <% end %>
            <dd>-<%= order.service[:description] %></dd><br>
        <% end %>

    </dl>
<% else %>
    <h3>No Current or Past Orders</h3><br>
    <%= link_to "Browse Services", services_path, {:class => "order-link"} %>
<% end %>