<h1>Order #<%= @order.id %></h1><br>
<h2><%= link_to @order.service.title, @order.service %></h2><br>
<% if @order.review %>
    <h3 type="rating"><%= '★'*@order.review[:rating] %><%= '☆'*(5 - @order.review[:rating]) %></h2>
<% else %>
    <%= link_to "Review Order", new_order_review_path(@order, @review), {:class => "order-link"} %>
<% end %>


<ul><br>
    <h3>Seller </h3>
    <li><%= link_to "@"+@order.service.user.username, @order.service.user %></li><br>
    <h3>Cost </h3>
    <li>$<%= @order.service.price %></li><br>
    <h3>Description </h3>
    <li><%= @order.service.description %></li><br>
    <h3>Buyer Requirements </h3>
    <li><%= @order.service.requirements %></li>
    
</ul><br>
