<h1>Order #<%= @order.id %></h1>

<h1><%= link_to @order.service.title, @order.service %></h1>

<ul>
    <h3>Seller </h3>
    <%= link_to "@"+@order.service.user.username, @order.service.user %><br><br>
    <h3>Cost </h3>
    $<%= @order.service.price %><br><br>
    <h3>Description </h3>
    <%= @order.service.description %><br><br>
    <h3>Buyer Requirements </h3>
    <%= @order.service.requirements %>
</ul><br>
