<h1><%= @engineer.name %> (@<%= @engineer.username %>) ✔</h1>
<h3>Experience: <%= @engineer.experience.capitalize %></h3>
<h4>Location: <%= @engineer.location %></h4>
<% if @engineer.rating != nil %>
    <h3> <%= '★'*@engineer.rating %><%= '☆'*(5 - @engineer.rating) %></h3>
<% else %>
    <h5>Not Yet Rated</h5>
<% end %>

<h3>Bio </h3>
<p><%= @engineer.bio %></p>
<%= link_to 'Edit Account', edit_engineer_path %>
<%= button_to 'Delete Account', @engineer, method: :delete %>

<h2>Services (<%= @services.count %>)</h3>
<% if @services.present? %>
    <dl>
        <% @services.each do |service| %>
            <dt>$<%= service.price %> <%= link_to service.title, service %></dt>
            <dd>-<%= service.description %></dd><br>
        <% end %>

    </dl>
<% else %>
    <p>Nothing here yet!</p>
<% end %>

<h2>Orders (<%= @engineer.orders.count %>)</h2>
<% if @engineer.orders.present? %>
    <dl>
        <% @engineer.orders.each do |order| %>
            <dt><%= link_to order.service[:title], order %></dt>
            <dd>@<%= order.client[:username] %></dd><br>
        <% end %>
    </dl>
<% else %>
    <p>No current orders<p>
<% end %>