<h1>Review Your Order</h1><br>

<h3><%= @order.service[:title] %> | Order #<%= @order.id %></h3>

<%= form_for [@order, @review] do |f| %>
    <%= f.label :content, "Summary" %><br>
    <%= f.text_area :content %><br><br>
    <%= f.label :rating %><br>
    <%= f.number_field :rating, min: 1, max: 5 %><br><br>
    <%= f.submit "Leave Review"%>
<% end %>